body, html {
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    background-image: url("images/brick-wall.png");
    background-repeat: repeat;
}

.titleSection {
    font-size: 35px !important;
    color: #fff;
    text-align: center;
    padding: 250px;
}

h1 {
    font-size: 35px !important;
    color: #fff;
    text-align: center;
    padding: 20%;
}

footer {
    background-color: #789395;
    text-align: center;
    color: #E5E3C9;
    bottom: 0;
}

i {
    color: #E5E3C9;
    padding: 10px;
}

i:hover {
    color: #B4CFB0;
    padding: 10px;
}

.copyright {
    padding-bottom: 1rem;
    margin-bottom: 0 !important;
}

.navbar-background {
    background-color: #789395;
}

.navLinks {
    font-family: 'Special Elite', cursive;
    color: #e5e3c9 !important;
    text-decoration: none !important;
}

.navLinks:hover {
    color: #B4CFB0 !important;
    text-decoration: none !important;
}

.link {
    color: #fff !important;
    text-decoration: none !important;
}

.link:hover {
    color: black !important;
    text-decoration: none !important;
}

.navbar-brand {
    color:#e5e3c9 !important;

    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Special Elite', cursive;
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Open Sans', sans-serif; */
}


.mainContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.my-buttons {
    margin-top: 5px;
    align-content: center;
}
 
#carousel-travel {
    margin: 5%;
}

#carouselpets {
    margin: 5%;
}

.firstSection {
    margin-bottom: 3%;
    align-content: bottom;
    background-image: url("images/lighthouse.webp");
    background-size:110%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}


.secondSection {
    margin-bottom: 3%;
    background-image: url("images/kyoto.webp");
    background-size: cover;
    background-repeat: no-repeat;
}


.thirdSection {
    margin-bottom: 3%;
    background-image: url("images/bones5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.fourthSection {
    margin-bottom: 3%;
    background-image: url("images/simba.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 20px !important;
    }
    .firstSection {
        background-size:120%;
    }
}
