body, html {
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    background-image: url("images/brick-wall.png");
    background-repeat: repeat;

}

h1 {
    font-size: 35px !important;
    color: #fff;
    text-align: center;
    padding: 20%;
}

footer {
    text-align: center;
    color: grey;
}

i {
    padding: 10px;
}

.link {
    color: #fff !important;
    text-decoration: none !important;
}

.link:hover {
    color: black !important;
    text-decoration: none !important;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
}


.mainContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.my-buttons {
    margin-top: 5px;
    align-content: center;
}
 
#carousel-travel {
    margin: 5%;
}

#carouselpets {
    margin: 5%;
}

.firstSection {
    margin-bottom: 3%;
    align-content: bottom;
    background-image: url("images/lighthouse.webp");
    background-position:top;
    background-size:100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.secondSection {
    margin-bottom: 3%;
    background-image: url("images/kyoto.webp");
    background-size: cover;

    background-repeat: no-repeat;
}

.thirdSection {
    margin-bottom: 3%;
    background-image: url("images/simba.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 20px !important;
    }
}
