body, html {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #43273b;
    line-height: 28.5px;
    letter-spacing: 0.35px;
}

/* Button links on home page */
.link {
    color: #fff !important;
    text-decoration: none !important;
}

.link:hover {
    color: black !important;
    text-decoration: none !important;
}

/* Ceates transparant textbox */
h1 {
    font-size: 35px !important;
    color: #fff !important;
    background-color: rgb(0, 0, 0,0.4);
    text-align: center;
    border-radius: 25px;
    padding:3%;
    margin: 20% !important;
}

/* Home page image sections */
.firstSection {
    height: 500px;
    margin-bottom: 3%;
    align-content: center;
    background-image: url("images/lighthouse.webp");
    background-size: 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}


.secondSection {
    position:fixed;
    margin-bottom: 3%;
    padding-left: 3%;
    background-image: url("images/kyoto.webp");
    background-size: cover;
    background-repeat: no-repeat;
}


.thirdSection {
    margin-bottom: 3%;
    background-image: url("images/bones5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.fourthSection {
    margin-bottom: 3%;
    background-image: url("images/simba.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Social media icons for footer */

footer {
    text-align: center;
    color: grey;
    bottom: 0;
}

i {
    color: grey;
    padding: 10px;
}

i:hover {
    color: black;
    padding: 10px;
}

.copyright {
    font-size: .8rem;
    padding-bottom: 1rem;
    margin-bottom: 0 !important;
}

/* Navbar brand border, hover color and sizes */
.navBrand {
    font-family: 'Open Sans', sans-serif;
    color: black !important;
    text-decoration: none !important;
    border-style: solid;
    letter-spacing: 2px;
    padding: 10px;
}

.navBrand:hover {
    color: #e5e3c9 !important;
    text-decoration: none !important;
}

/* React-router-dom class links text color and hover */
.navLinks {
    font-family: 'Open Sans', sans-serif;
    color: black !important;
    text-decoration: none !important;
}

.navLinks:hover {
    color: #e5e3c9 !important;
    text-decoration: none !important;
}


/* main body margins for all pages */
.mainContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.pricing-description {
    padding:3%;
}

.dog-description {
    padding: 3%;
}

.about-description {
    padding: 3%;    
}

.my-form {
    padding-left: 15%;
    padding-right: 15%;
}

#carousel-travel {
    margin: 5%;
}

#carouselpets {
    margin: 5%;
}

/* Pricing description and images in bootstrap responsive */
.col-lg-6.two {
    border-style: solid;
    text-align: left;
    padding: 10%;
}

.col-lg-6.four {
    border-style: solid;
    text-align: left;
    padding: 10%;
}

img.col-lg-6 {   
    padding-right:0;
    padding-left:0;
}

/* title page for about and contact */

.title {
    text-align: center;
}

.my-buttons {
    margin-top: 5px;
    align-content: center;
}

/* Fixes the gap between your name and email input boxes */
input#exampleFormControlInput1.form-control {
    margin-bottom: 15px;
}


/* Puts every image and description in certain order for pricing page  in mobile mode*/
@media screen and (max-width: 531px) {
    h1 {
        font-size: 20px !important;
    }
    
    .navbar-brand {
        font-size: .6rem !important;
        font-family: 'Open Sans', sans-serif;
    }
    .firstSection {
        height: 290px;
        background-size: 250%;

    }

}
    .container { display: flex; flex-flow: column; }
    .one { order: 1; }
    .two { order: 2;  }
    .three { order: 3; }
    .four { order: 4; }
}
